<!-- <html>
    <head>
        <title>Home Page - Cats</title>
    </head>
    <body>
        <h1>Hello, Betty!</h1>
        <img src="static/cat.jpg" align="middle" />
        <img src="{{ url_for('static', filename='cat.jpg') }}" align="middle" />
        <p>{{ url_for('static', filename='cat.jpg') }}</p>
        <p>{{ TEST_VALUE }}</p>
    </body>
</html> -->
<html>
    <head>
        <title>Home Page - Cats</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">

            <div class="row">

                <div class="col-lg-12">
                    <h1 class="page-header">Thumbnail Gallery</h1>
                    <img src="static/ded905929f9f27d5e6f084b799f4c8f1d145ec72.jpg" align="middle" />
                    <img src="{{ url_for('static', filename='ded905929f9f27d5e6f084b799f4c8f1d145ec72.jpg') }}" align="middle" />
                </div>
                {{image_names}}
                <hr>
                {% for image_name in image_names %}
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <img class="img-responsive" src="{{url_for('static', filename=image_name)}}">
                </div>
                {% endfor %}
            </div>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    </body>
</html>